<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-us-1020">
  <div class="cs-container">
    <h1 class="cs-title">Latest Game</h1>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a routerLink="/details">
          <picture class="cs-picture">
            <source media="(max-width: 767px)" srcset="/CoverFire.png" />
            <source media="(min-width: 768px)" srcset="/CoverFire.png" />
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/CoverFire.png"
              alt="chef"
              width="305"
              height="335"
            />
          </picture>
          <div class="cs-info">
            <h6 class="cs-name">Action</h6>
            <h2 class="cs-name">Cover Fire</h2>
          </div>
        </a>
      </li>
      <!-- <li class="cs-item">
        <picture class="cs-picture">
          <source
            media="(max-width: 767px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef2.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef2.jpg
            "
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef2.jpg"
            alt="chef"
            width="305"
            height="335"
          />
        </picture>
        <div class="cs-info">
          <span class="cs-name">Zaki Deanra</span>
          <span class="cs-job">Head Chef</span>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <source
            media="(max-width: 767px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef3.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef3.jpg
            "
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/chef3.jpg"
            alt="chef"
            width="305"
            height="335"
          />
        </picture>
        <div class="cs-info">
          <span class="cs-name">Zaki Deanra</span>
          <span class="cs-job">Head Chef</span>
        </div>
      </li> -->
    </ul>
    <p class="no-articles">No games yet</p>
  </div>
</section>
